    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500&display=swap');

    :root {
        --white: white;
        --black: black;
        --dim-text: #777;
        --btn-dim-text: #333;
        --box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    }

    html.dark-mode {
        --white: #000000;
        --black: #ffffff;
        --dim-text: #aaaaaa;
        --btn-dim-text: #e0e0e0;
        --box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);

    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        background-color: var(--white);
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .header-cls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--white);
        position: fixed;
        z-index: 100;
    }

    .logo {
        padding: 16px;
        font-size: 36px;
        text-decoration: none;
        color: red;
        font-weight: bolder;
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        background-color: var(--white);
    }

    .btn-close {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .btn:hover {
        transform: scale(1.1);
    }

    .theme-toggle {
        background: var(--black);
        color: var(--white);
        border: none;
        padding: 12px 12px;
        border-radius: 30%;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
        margin-right: 10px;
        /* position: fixed;
        bottom: 50px;
        right: 20px;
        z-index: 1000; */
    }

    .menu-items a {
        text-decoration: none;
        color: var(--black);
        font-size: 18px;
        letter-spacing: 1px;
        padding: 10px;
    }

    .menu-items a:hover::after {
        width: 100%;
    }

    .menu-items a:hover {
        color: #ff4081;
    }

    .menu-icons {
        display: flex;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        gap: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    .menu-icons a {
        color: var(--black);
    }

    .footer {
        margin-top: 5%;
    }

    .footer-head {
        display: grid;
        grid-template-rows: 6fr 1fr;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: black;
        color: white;
    }

    .footer-grid h3 {
        color: #0385ff;
    }


    .footer-content-company {
        margin: 7%;

    }

    .footer-nav-grid {
        display: grid;
    }

    .footer-content-nav a {
        text-decoration: none;
        list-style: none;
        line-height: 50px;
        text-indent: 20px;
        color: white;
        transition: transform 0.5s ease;
    }

    .footer-content-nav a:hover {
        color: #0385ff;
        transform: translatey(-10px);
    }

    .footer-content-nav li {
        cursor: pointer;
    }

    .footer-content-contact a {
        list-style: none;
        text-decoration: none;
        color: white;
        text-indent: 20px;
        transition: color 0.5s ease;

    }

    .footer-content-contact a:hover {
        color: #0385ff;
    }

    .footer-content-legal-link a {
        text-decoration: none;
        color: white;
        text-align: justify;

    }

    .footer-content-legal-link li {
        list-style: none;
        text-indent: 20px;
        text-align: justify;
        transition: transform 0.5s ease;

    }

    .footer-content-legal-link li:hover {
        color: #0385ff;
        transform: translatey(-10px);
    }

    .footer-content-legal-link a {
        line-height: 70px;
        cursor: pointer;
        transition: transform 0.5s ease;
        /* color: white; */

    }

    .footer-content-legal-link a:hover {
        color: #0385ff;
        transform: translatey(-10px);
    }

    .footer-copy {
        text-align: center;
        background-color: #1C1C1C;
        color: white;
    }

    #backToTop {
        position: fixed;
        bottom: 120px;
        right: 30px;
        background: var(--black);
        color: var(--white);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 18px;
        cursor: pointer;
        display: none;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, background 0.3s;
        z-index: 1999;
    }

    #backToTop:hover {
        background: #444;
        transform: translateY(-5px);
    }


    @media (max-width: 768px) {
        .header-cls img {
            width: 40%;
        }

        .menu-icons {
            display: none;
        }

        .sponsor-grid {
            gap: 30px;
        }

        .sponsor-grid img {
            height: 60px;
        }

        .testimonial {
            flex: 0 0 100%;
        }

        .testimonial-container {
            gap: 10px;
        }

        .offers-grid {
            grid-template-columns: 1fr;
        }

        .contact-grid {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .contact-grid-l form {
            grid-template-columns: repeat(2, 50%);

        }

        .footer-grid {
            grid-template-columns: repeat(2, 1fr);
        }

    }


    @media (max-width:768px) {
        .menu-items {
            flex-direction: column;
            background: #000000;
            position: fixed;
            top: 0;
            right: -350px;
            width: 250px;
            height: auto;
            padding: 60px 20px;
            transition: right 0.5s ease;
            z-index: 999;
            /* color: #0385ff; */
        }

        .menu-items a {
            font-size: 18px !important;
            color: white;
        }

        .btn-close {
            display: block;
            color: rgb(0, 0, 0);
            background-color: #0385ff00;
            cursor: pointer;
            border-color: #00000000;
        }

        .hamburger {
            display: block;
            margin-right: 30px;
            cursor: pointer;
            color: var(--black);

        }

        .menu-items.show {
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
        }

        .hamburger:hover {
            color: #b82e5e;
        }

        .overlay {
            top: 75%;
            left: 50%
        }

        .menu-icons {
            display: none;
        }

        .menu-items {
            display: none;
        }

    }

    .offers-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./asstes/offers-hero-bg.jpg');
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
    }

    .offers-hero h1 {
        margin: 0%;
        font-size: 38px;
    }

    @media (max-width:478px) {
        .offers-hero h1 {
            font-size: 25px;
        }

        .offers-hero p {
            font-size: 14px;
        }

        .offers-hero a {
            padding: 0px;
            font-size: 12px;
        }
    }

    .offers-hero a {
        text-decoration: none;
        padding: 16px;
        font-size: 16px;
        background-color: #3474ff;
        border-radius: 15px;
        color: white;
    }

    .offers-hero a:hover {
        background-color: #0385ff;
    }

    .head {
        font-size: xx-large;
        margin: 3%;
        text-align: center;
        color: var(--black);
    }

    .categories-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .categories-card {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .categories-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    .categories-card:hover img {
        transform: scale(1.1);
    }

    .categories-card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .categories-card:hover::before {
        opacity: 1;
    }

    .cat-info {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        color: #ffffff;
        z-index: 2;
        transition: bottom 0.4s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .cat-info a {
        padding: 10px;
        text-decoration: none;
        background-color: #3474ff;
        color: white;
        border-radius: 10px;
    }

    .categories-card:hover .cat-info {
        bottom: 30%;
    }

    .cat-info h1 {
        font-size: 1.5rem;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .badge {
        position: absolute;
        top: 15px;
        right: 15px;
        background: linear-gradient(135deg, #ff416c, #ff4b2b);
        color: #fff;
        padding: 6px 12px;
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        z-index: 3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    @media (max-width:478px) {
        .badge {
            font-size: 14px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 3%;
        overflow-x: hidden;
    }

    .product-card {
        background-color: var(--white);
        border-radius: 8px;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        display: block;
        position: relative;
    }

    .product-card img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .offer-badge {
        position: absolute;
        top: 0;
        right: 0px;
        width: 150px;
        padding: 8px 0;
        background-color: #e91e63;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        /* transform: rotate(35deg); */
        box-shadow: var(--box-shadow);
        animation: heartbeat 2.7s ease-in-out infinite;

    }

    @keyframes heartbeat {

        0%,
        100% {
            transform: scale(1);
        }

        14% {
            transform: scale(1.3);
        }

        28% {
            transform: scale(1);
        }

        42% {
            transform: scale(1.3);
        }

        70% {
            transform: scale(1);
        }
    }

    .card-info {
        padding: 20px;
        text-align: center;
        color: var(--black);
    }

    .product-title {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 10px 0;
    }

    .product-price {
        font-size: 14px;
        color: var(--dim-text);
        margin: 0;
    }

    .cta-button {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        border: 1px solid #333;
        border-radius: 5px;
        color: var(--btn-dim-text);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .product-card:hover .cta-button {
        background-color: #333;
        color: white;
    }

    .product-card:hover {
        box-shadow: var(--box-shadow);
    }

    .flash-offer-p {
        text-align: center;
    }

    .flash-offer-head {
        text-align: center;
        padding: 50px 20px;
        background: linear-gradient(135deg, #ff416c, #ff4b2b);
        color: #fff;
    }

    .timer {
        font-size: x-large;
    }

    .flash-card {
        background: var(--white);
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .flash-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 0 20px rgba(90, 20, 255, 0.507);
    }

    .flash-card img {
        width: 100%;
        height: 320px;
        object-fit: cover;
    }

    .flash-info {
        padding: 15px;
    }

    .flash-info h3 {
        margin: 0;
        font-size: 1.2rem;
        color: var(--btn-dim-text);
    }

    .flash-info p {
        margin: 5px 0 15px;
        font-size: 1rem;
        color: var(--dim-text);
    }

    .flash-info button {
        background: var(--white);
        border: 1px solid;
        padding: 10px 20px;
        border-radius: 6px;
        color: var(--black);
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s;
    }

    .flash-info button:hover {
        background: #2f2f2f;
        color: white;
    }

    .customer-assurance {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 30px;
        padding: 40px 20px;
        margin-top: 40px;
        text-align: center;
        border-radius: 16px;
    }

    .assurance-item {
        padding: 15px;
        transition: transform 0.3s ease;
    }

    .assurance-item h4 {
        color: var(--black);
    }

    .assurance-item:hover {
        transform: translateY(-5px);
    }

    .icon {
        font-size: 2rem;
        display: block;
        margin-bottom: 10px;
    }

    .assurance-item h4 {
        font-size: 1.2rem;
        margin-bottom: 5px;
        font-weight: 600;
        color: var(--black);
    }

    .assurance-item p {
        font-size: 0.9rem;
        color: var(--dim-text);
    }